# Dependencies
node_modules/
.pnp
.pnp.js

# Production / Build output
.next/
out/
build/
dist/

# Environment variables & secrets (Never commit real API keys!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
!*.env.example

# Temporary / Cache / Logs
.pdf-tools/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.turbo/

# OS metadata
.DS_Store
Thumbs.db
Desktop.ini

# IDE & Editor files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln


.vercel
